:root {
    --bg: #251C31;
    --card-w: 320px;
    --gap: 20px;
}

.edu-list-section {
    padding: 150px 0;
    color: var(--text);
    height: 100vh;
}

.edu-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap);
    align-items: start
}

@media (min-width:700px) {
    .edu-grid {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (min-width:1100px) {
    .edu-grid {
        grid-template-columns: repeat(3, 1fr)
    }
}

/* Utility to visually hide heading but keep accessible */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}